<h1>Log in</h1>

<% if flash[:notice] %>
  <div class="alert alert-info"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-warning"><%= flash[:alert] %></div>
<% end %>

<%= form_tag '/users/login' do %>

	<label>
		Email
		<%= email_field_tag :email %>
	</label>
	
	<label>
		Password
		<%= password_field_tag :password %>	
	</label>
	
	<%= submit_tag 'Log in' %>

<% end %>
